body {
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}


/* -------------1st pklayer---------- */
.main1 {

    width: 470px;
    padding: 40px;
    border: 2px solid blue;
    border-radius: 20px;
}

h2 {
    font-size: 40px;
    margin-bottom:0 ;
}

.error1 {
    font-size: 30px;
}


.input1 {
    padding: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: #F4EBD3;
    border-radius: 10px;
    margin-right: 30px;
}


.button1 {
    padding: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: #B33791;
    border-radius: 10px;
    margin-right: 30px;
    font-weight: 700;
}

/* <!-- ---------------2nd player --> */

.main2 {

    width: 470px;
    padding: 40px;
    border: 2px solid blue;
    border-radius: 20px;
}


.error2 {
    font-size: 30px;
}


.input2 {
    padding: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: #F4EBD3;
    border-radius: 10px;
    margin-right: 30px;
}


.button2 {
    padding: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: #B33791;
    border-radius: 10px;
    margin-right: 30px;
    font-weight: 700;
}


.mainbar2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar {
    width: 100px;
    height: 100px;
    border: 2px solid yellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  
}
/* --------------winner part---- */


.winner{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.winer_name {
    font-size: 55px;
    color: yellow;
}